.percent {
    display: block;
    height: 24px;
    border-radius: 0 12px 12px 0;
    float: left;
    color: white;
    .value {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.total {
    background-color: rgb(228, 228, 228);
}

.allocated {
    background-color: rgb(0, 192, 125);
}

.used {
    background-color: rgb(255, 0, 93);
}