<div class="percent" #percentBlock [ngClass]="capacityType" [style.width.%]="percentValue">
    <ng-content></ng-content>
    <div class="value" #valueBlock>
        <ng-container *ngIf="capacityValue">{{capacityValue | bytesFormat}}</ng-container>
    </div>
</div>