.container {
    margin: 0 auto;
    box-shadow: 3px 3px 10px 5px #888888;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.test-form {
    margin: 0 auto;
    box-shadow: 3px 3px 10px 5px #888888;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    input {
        float: right;
    }
}