<div class="container"  [style.width.px]="width">
  <app-multi-level-bar
    [totalCapacity] = "total"
    [allocatedCapacity] = "allocated"
    [usedCapacity] = "used"
  ></app-multi-level-bar>
</div>

<div class="test-form">
  <span>Change widh of container with bar (px): </span>
  <input type="number" [(ngModel)]="width"><br><br>
  <span>Change total value (Bytes): </span>
  <input type="number" [(ngModel)]="total"><br><br>
  <span>Change allocated value (Bytes): </span>
  <input type="number" [(ngModel)]="allocated"><br><br>
  <span>Change used value (Bytes): </span>
  <input type="number" [(ngModel)]="used"><br><br>
</div>