.container {
    height: 100px;
}

.multilevelbar {
    width: 100%;
    border-radius: 12px;
    height: 24px;
    overflow: hidden;
    background-color: rgb(228, 228, 228);
}

.total {
    width: 100%;
    text-align: center;
    margin-top: 24px;
}

.error {
    width: 100%;
    text-align: center;
    line-height: 24px;
}