<div class="container">
    <ng-container *ngIf="(error$ | async) as error; else bar">
        <div class="error">{{error}}</div>
    </ng-container>
    <ng-template #bar>
        <div class="multilevelbar">
            <app-capacity-bar>
                <app-capacity-bar
                    [capacityValue] = "(allocatedCapacity$ | async) || 0"
                    [capacityType] = "'allocated'"
                    [percentValue] = allocatedPercent
                >
                    <app-capacity-bar
                        [capacityValue] = "(usedCapacity$ | async) || 0"
                        [capacityType] = "'used'"
                        [percentValue] = usedPercent
                    ></app-capacity-bar>
                </app-capacity-bar>
            </app-capacity-bar>
        </div>
        <div class="total">Total {{ (totalCapacity$ | async) | bytesFormat }}</div>
    </ng-template>
</div>